venv/
.pyenv/
env/

*.pyc
__pycache__/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

*.ipynb

config/*yml
.env
*.env
env.*
.DS_Store
.idea/
.vscode/
*.log
models/*
data/documents/*
data/embeddings/*
data/ingestions/*
backups/
